section {
  padding: 100px 0;
}

.about {
  font-family: "Poppins", sans-serif;
}

.about .title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  margin-top: 60px;
  font-family: "Ubuntu", sans-serif;
}

.about .title {
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
