.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  /*background: crimson; */
  font-family: "Ubuntu", sans-serif;
  transition: all 0.7s ease-in;
}

.navbar.active {
  background: #6fd775;
}

.navbar.sticky {
  background: #6fd775;
  padding: 30px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #ffff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #6fd775;
}

.navbar.active .logo a span {
  color: #fff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3 ease;
}

.navbar .menu li a:hover {
  color: #6fd775;
}
